@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.header
		min-height: auto
	.header__tel
		span
			display: block
	.main__slider-item img
		position: relative;
		// left: 130px;
	.header__tel a
		font-size: 16px
	.b-product-day
		margin-top: 30px
		text-align: center
	.b-product-day__body
		padding: 15px 20px
	.b-product-day__name,
	.b-product-day__desc-list
		margin-bottom: 20px
	.b-product-day__price,
	.b-product-day__old-price
		text-align: center
	.b-subscription
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 10px
		margin: 20px 0
		background-image: none
	.b-subscription__txt,
	.b-subscription__form
		width: 100%
		max-width: 100%
		flex-basis: 100%
		padding: 10px



// ≥992px
+media-breakpoint-down(md)
	.header__tel
		margin-top: 10px
		margin-bottom: 10px
	.main__slider-item img
		// left: 200px
	.main__menu-search
		margin-bottom: 20px
	.cb__parameters
		display: block;
		position: relative;
		box-shadow: none;
		padding: 0px;
	.main__menu
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		max-width: 100vw;
		max-height: 100vh;
		will-change: transform;
		overflow: scroll;
		transition: transform 300ms ease-in-out .15s;
		transform: translateX(-100%)
	.main__menu.active
		transform: translateX(0%)
	.mob__menu-close
		display: block
	.header__menu
		margin-top: 20px
		margin-bottom: 20px
	.main__menu-list ul
		display: block
	.main__menu-list ul>li
		display: block
	.main__menu-search label
		justify-content: flex-start
	.main__menu-list ul>li:hover .main__menu-subitem
		display: block
		position: relative
		left: 0
		padding-bottom: 0
	.search__block
		top: 100%
	.main__menu-search
		text-align: left
	.main__menu-list .main__menu-subitem
		display: block
		position: relative
		left: 0
		padding-bottom: 0
	.height-block
		padding-top: 200px
	.b-contact-main
		margin-bottom: 20px
		padding: 40px
	.b-contact-desc
		width: 100%
		margin-top: 20px
		padding: 40px
	.b-history-orders__wrap
		padding: 0
	.b-form__path+.b-form__path
		margin-top: 40px
	.b-my-order-path__body
		flex-direction: column
	.b-my-order-path__body_btn
		flex: 1 1 auto
		margin: 10px 0 0 0
	.b-cart-table
		tr
			display: flex
			flex-wrap: wrap
			align-items: center
			& + tr
				border-top: 1px solid #D7F6FF
		td
			border-top: none
			flex: 0 0 50%
	.cart-props-form
		margin-bottom: 20px

// ≥768px
+media-breakpoint-down(sm)
	.main__slider-item img
		// left: 300px
	.adv__item-img
		min-width: 110px	
	.cb__slider-big-wrap
		float: none
		width: 100%
	.cb__slider-small-wrap
		float: none
		width: 100%
	.cb__slider-small-item
		display: inline-block
		max-width: 30%
	.cb__slider-big-item
	    min-height: 200px;		
	.header__tel
		display: none
	.header__tel-mobile
		display: block
	.b-sidebar-btn
		display: block
	.b-sidebar
		display: none
	.section-404
		padding: 45px 0
	.section-404__title
		margin-bottom: 35px
	.b-404
		margin-top: 35px
		flex-direction: column
	.b-404-img
		position: static
		margin: 20px
	.b-404-form
		margin: 0px
		padding: 20px
		max-width: 100%
	.catalog__block-item--bg
		.price-big
			margin-top: 10px
			text-align: left
		.price-small
			text-align: left
		.cb__button
			justify-content: flex-start
	.b-quote
		padding: 20px
	.b-information-path
		margin: 20px 0
	.b-history-orders
		th
			display: none
		tr
			display: block
			& + tr
				padding-top: 15px
				margin-top: 30px
				border-top: 1px solid #D7F6FF
		td
			padding: 15px
			display: flex
			border-top: none
			align-items: center
	.b-history-orders__mob
		display: block
		flex: 0 0 40%
	.b-history-orders-product-td
		max-width: 100%
	.b-history-orders-product
		flex-direction: column
	.b-history-orders-product__img
		margin: 0 0 10px 0
	.b-my-order__bottom
		flex-direction: column
	.b-my-order__bottom_link
		display: block
		margin: 0px 0 10px
		& + .b-my-order__bottom_link
			margin-left: 0px
	.b-my-order-wrap
		padding: 15px 20px
	.b-cart-table
		td
			flex: 0 0 100%
			& + td,
			& + td:last-child
				padding-top: 0
	.b-cart-table-product-td
		width: 100%
	.b-cart-table-product
		flex-direction: column
		align-items: center
	.b-cart-table-product__img
		margin: 0 0 15px 0
	input.b-cart-filter__input
		width: 100%
	.cart-props__info
		flex-direction: column
	.cart-props__price
		margin-bottom: 20px
	input.cart-props-form__input
		max-width: 100%


// ≥576px
+media-breakpoint-down(xs)
	.main__slider-item img
		// left: 450px
	.hints__block-item-img
		margin-right: 5px
	.footer__pay
		flex-flow: row wrap
		span
			width: 100%
			margin-bottom: 10px
	.footer__pay-item
		margin: 10px 10px 0 0
	.catalog__block-name
		display: block
		h2
			margin-bottom: 10px
	header .main__menu-search
		display: none
	input.b-subscription-input,
	button.b-subscription-submit
		width: 100%
		max-width: 100%
		margin: 4px 0
		border: 1px solid #317487
	.txt-740
		margin-bottom: 20px
	.b-arrow-to-top
		display: (none !important)



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
