/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-to-top {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 104px;
  height: 106px;
}
.icon-checked {
  background-image: url(sprite.png);
  background-position: -104px -13px;
  width: 11px;
  height: 9px;
}
.icon-mail {
  background-image: url(sprite.png);
  background-position: -104px 0px;
  width: 18px;
  height: 13px;
}
