/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-to-top {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 104px;
  height: 106px;
}
.icon-cart {
  background-image: url(sprite.png);
  background-position: -104px 0px;
  width: 54px;
  height: 38px;
}
.icon-checked {
  background-image: url(sprite.png);
  background-position: -122px -81px;
  width: 11px;
  height: 9px;
}
.icon-currents-orders {
  background-image: url(sprite.png);
  background-position: 0px -106px;
  width: 35px;
  height: 44px;
}
.icon-history-orders {
  background-image: url(sprite.png);
  background-position: -35px -106px;
  width: 36px;
  height: 37px;
}
.icon-mail {
  background-image: url(sprite.png);
  background-position: -104px -81px;
  width: 18px;
  height: 13px;
}
.icon-private-info {
  background-image: url(sprite.png);
  background-position: -104px -38px;
  width: 44px;
  height: 43px;
}
